<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 photo-container">
			<img src="https://media.timeout.com/images/100644443/image.jpg" class="cover-photo img-responsive" id="london">
			<img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Rock_of_Gibraltar_northwest.jpg" class="cover-photo img-responsive" style="display:none" id="gibraltar">
			<img src="http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/SanFrancisco_0.jpg" class="cover-photo img-responsive" style="display:none" id="san-francisco">
			<div class="arrows"> <span class="back-arrow"> &#9664</span><span class="forward-arrow">&#9654</span> </div>
		</div>
	</div>
</div>