<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 photo-container">
			<% @cities.each do |city| %>
				<div class="city-display" >
					<%= link_to image_tag(city.image_url, :class => "cover-photo img-responsive", :id => "#{city.name}"), city_path(city) %>
					<span class="city-title"> <%= city.name %></span>
					<div class="arrows"> <span class="back-arrow"> &#9664</span><span class="forward-arrow">&#9654</span>
					<blockquote>"<%= city.posts.first.post_text %>"</blockquote>
					</div>
				</div>	
			<% end %>
		</div>
	</div>
</div>
