/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

.margin-bottom-20px {
	margin-bottom: 20px;
}

.margin-left-20px {
	margin-left: 30px;
}

.user-post-header {
	margin-top: 0px;
}

#user-section {
	padding: 0px 20px 20px 20px;
}

.user-post {
	margin-left: 80px;
	margin-bottom: 20px;
	padding: 20px 20px 20px 30px;
	background: lightgrey;
	border-radius: 3px;
	box-shadow: 2px 2px 5px #888888;
}

.edit-post-text-area {
	padding-left: 10px;
	margin: 0px 25px 10px -10px;
	resize: none;
}

#user-info {
	background: beige;
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 20px;
}

.edit-user-field {
	margin-bottom: 0px;
}

.custom-btn {
	margin-right: 10px;
}

#user-edit {
	background: beige;
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 20px;
}

.post-button {
	font: 20px;
	height: 35px;
	width: 35px;
	display: inline-block;
	margin-right: 20px;
}

.user-blockquote {
	border-left: 10px solid beige;
}

.blockquote-quote {
	display: inline-block;
	margin-left: 20px;
}

.user-blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  display: inline-block;
}

.no-margin-no-padding {
	margin: 0;
	padding: 0;
}
.pagination-footer {
	margin: 0px;
    height: 60px;
    bottom: 0;
    width: 100%;
}